/* =========================
   NAVIGATION
========================= */

body{

    font-family:Georgia, serif;
    background:#EFE7DC;
    margin:0;
    overflow-x:hidden;
}

nav {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 8%;

    background: #6e4f3a;
    color: white;
}

.logo {
    font-size: 25px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 15px;

    transition: 0.3s;
}

.nav-links a:hover {
    opacity: 0.6;
}

/* MENU CONTAINER */

.menu-container {
    position: relative;
}


/* MENU BUTTON */

.menu-button {
    background: none;
    border: none;

    color: white;

    font-size: 27px;

    cursor: pointer;

    padding: 5px 8px;

    transition: 0.3s;
}

.menu-button:hover {
    opacity: 0.6;
}


/* DROPDOWN MENU */

.menu-dropdown {
    display: none;

    position: absolute;

    top: 45px;
    right: 0;

    width: 180px;

    background-color: #F6F1E8;

    border-radius: 5px;

    box-shadow: 0 5px 15px rgba(0,0,0,0.2);

    overflow: hidden;

    z-index: 1000;
}


/* DROPDOWN LINKS */

.menu-dropdown a {
    display: block;

    padding: 14px 18px;

    color: #6E4F3A;

    text-decoration: none;

    font-family: Georgia, serif;

    font-size: 16px;
}


/* HOVER EFFECT */

.menu-dropdown a:hover {
     background-color: #E8D7C3;
}


/* SHOW DROPDOWN */

.menu-dropdown.show {
    display: block;
}


/* =========================
   HERO
========================= */

.hero {
    text-align: center;
    padding: 70px 20px 40px;
}

.small-title {
    letter-spacing: 5px;
    font-size: 12px;
    opacity: 0.6;
}

.hero h1 {
    font-size: 55px;
    letter-spacing: 3px;
    margin: 10px 0;
}

.subtitle {
    font-size: 17px;
    opacity: 0.7;
}


/* =========================
   BOOK CAROUSEL
========================= */

.book-section {
    position: relative;

    display: flex;
    align-items: center;

    width: 100%;
    padding: 40px 0;
}

.book-carousel {
    display: flex;
    align-items: center;

    gap: 30px;

    width: 100%;

    overflow-x: auto;
    scroll-behavior: smooth;

    padding: 30px 10%;

    scrollbar-width: none;
}

.book-carousel::-webkit-scrollbar {
    display: none;
}


/* =========================
   BOOK CARD
========================= */

.book-card {
    flex: 0 0 230px;

    position: relative;

    cursor: pointer;

    transition:
        transform 0.4s ease,
        opacity 0.4s ease,
        filter 0.4s ease;
}

.book-card img {
    width: 230px;
    height: 330px;

    object-fit: cover;

    border-radius: 5px;

    box-shadow:
        0 15px 30px rgba(0,0,0,0.2);

    display: block;
}


/* BOOK INFORMATION */

.book-info {
    text-align: center;

    margin-top: 15px;
}

.book-info h2 {
    font-size: 19px;
}

.book-info p {
    font-size: 13px;
    opacity: 0.6;

    margin-top: 5px;
}

.book-info span {
    display: block;

    margin-top: 8px;

    font-weight: bold;
}


/* =========================
   HOVER EFFECT
========================= */

.book-card:hover {
    transform: translateY(-15px) scale(1.04);
}

.book-card:hover img {
    box-shadow:
        0 25px 45px rgba(0,0,0,0.3);
}


/* =========================
   ARROW BUTTONS
========================= */

.arrow {
    position: absolute;

    z-index: 10;

    width: 50px;
    height: 50px;

    border: none;
    border-radius: 50%;

    background: #6e4f3a;
    color: white;

    font-size: 25px;

    cursor: pointer;

    transition: 0.3s;
}

.arrow:hover {
    transform: scale(1.1);
}

.left {
    left: 30px;
}

.right {
    right: 30px;
}


/* =========================
   SELECTED BOOK
========================= */

.details {
    text-align: center;

    padding: 60px 20px 100px;
}

.details-label {
    font-size: 11px;

    letter-spacing: 4px;

    opacity: 0.5;

    margin-bottom: 10px;
}

.details h2 {
    font-size: 35px;

    margin-bottom: 8px;
}

.details p {
    margin-bottom: 8px;
}

#bookPrice {
    font-size: 20px;
    font-weight: bold;

    margin-top: 15px;
}


/* =========================
   BUTTON
========================= */

.shop-btn {
    margin-top: 20px;

    padding: 14px 35px;

    border: none;

    background: #6e4f3a;
    color: white;

    font-family: inherit;

    cursor: pointer;

    transition: 0.3s;
}

.shop-btn:hover {
    background: #3e2b20;

    transform: translateY(-3px);
}


/* =========================
   MOBILE
========================= */

@media (max-width: 700px) {

    nav {
        padding: 0 5%;
    }

    .nav-links {
        display: none;
    }

    .hero h1 {
        font-size: 38px;
    }

    .book-carousel {
        gap: 20px;
        padding: 30px 15%;
    }

    .book-card {
        flex-basis: 200px;
    }

    .book-card img {
        width: 200px;
        height: 290px;
    }

    .left {
        left: 10px;
    }

    .right {
        right: 10px;
    }

    .details h2 {
        font-size: 27px;
    }
}

body{

    font-family:Georgia, serif;
    background:#EFE7DC;
    margin:0;
    overflow-x:hidden;
}

/* FOOTER */

.footer {
    background: #6e4f3a;
    color: white;
    font-family: Georgia, sans-serif;
}

/* Main Footer Content */

.footer-content {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    gap: 60px;
    max-width: 1200px;
    margin: auto;
}


/* Brand */

.footer-brand h2 {
    font-size: 30px;
    letter-spacing: 2px;
    margin-bottom: 25px;
    color: #F5EFE6;
}

.footer-brand p {
    font-size: 14px;
    line-height: 1.6;
    color: #FAF3E8;
}

.footer-brand .listen {
    margin-top: 25px;
    font-weight: bold;
}


/* Columns */

.footer-column {
    display: flex;
    flex-direction: column;
}

.footer-column h3 {
    font-size: 16px;
    margin-bottom: 25px;
}

.footer-column a {
    color: #eeeeee;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 10px;
    transition: 0.3s;
}

.footer-column a:hover {
    color: #FAF3E8;
    transform: translateX(4px);
}


/* Bottom */

.footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    margin-top: 50px;
    padding-top: 25px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-bottom p {
    font-size: 13px;
    color: #cccccc;
}

.footer-policy {
    display: flex;
    gap: 25px;
}

.footer-policy a {
    color: #cccccc;
    text-decoration: none;
    font-size: 13px;
}

.footer-policy a:hover {
    color: white;
}


/* RESPONSIVE */

@media (max-width: 800px) {

    .footer-content {
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }

    .footer-bottom {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }

}


@media (max-width: 500px) {

    .footer {
        padding: 50px 25px 20px;
    }

    .footer-content {
        grid-template-columns: 1fr;
        gap: 35px;
    }

}